.gpa-calculator-instructions-wrapper {
  margin-bottom: 10px;
}

/** table structure for divs **/
#grades_table {
  margin-top: 4px;
  display: table;
  border-collapse: collapse;
}

.gpa-table-thead {
  display: table-header-group;
}

.gpa-table-body {
  display: table-row-group;
}

.grade_row {
  display: table-row;
}

.gpa-table-cell {
  display: table-cell;
  border: 1px solid #B9B6B6;
  padding: 10px 10px 0 10px;
}

.gpa-th {
  font-weight: bold;
}

.grade_number {
  font-weight: bold;
  text-align: center;
}

.grade_field, .credits_field {
  text-align: center;
}

form#gpa-calculator-form input.credits_field {
  width: 30px;
}

form#gpa-calculator-form td {
  vertical-align: top;
}

form#gpa-calculator-form input#prev-gpa,
form#gpa-calculator-form input#prev-hours {
  width: 50px;
}

.gpa-results-wrapper {
  margin-top: 30px;
}

#gpa-add-row {
  font-size: 11px;
}